html, body {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    // display: flex;
    // flex-direction: column;
}

main h1, main p {
    margin: 1rem;
}

.MuiToolbar-root {
    // justify-content: space-between;
    // align-items: flex-start;
}

a, .linkStyle {
    text-decoration: none;
    color: inherit;
}